.projects .container {
  padding-bottom: 40px;
}
.projects .projects-heading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}
.projects .projects-heading h2 {
  color: var(--text-black-900);
  font-weight: 500;
}

.projects__itemWrapper {
  display: flex;
  flex-wrap: wrap;
}
