.contact__infoItem {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
  margin-bottom: 60px;
}

.contact__icon .css-i4bv87-MuiSvgIcon-root {
  font-size: 25px !important;
  color: var(--skin-color) !important;
}

.contact__infoItem h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 15px 0 5px;
}

.contact__infoItem p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  font-weight: 400;
}

@media (max-width: 605px) {
  .contact__infoItem {
    flex: 0 0 100%;
    max-width: 100%;

    margin-bottom: 20px;
  }
}
