.info__itemRow {
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}

.info__itemRow span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 15px;
  display: inline-block;
}

@media (max-width: 405px) {
  .info__itemRow {
    display: flex;
    flex-direction: column;
  }
  .info__itemRow span {
    margin-left: 0px;
  }
}
