.portfolio-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 0.5rem;
}
.portfolio-item-inner {
  position: relative;
  overflow: hidden;
}
.portfolio-item .mask {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
}
.portfolio-item-inner:hover .mask {
  opacity: 0.9;
}

.portfolio-item h3 {
  color: #fff;
  font-size: 1.25rem;
  margin: 0 0 0.98rem;
  padding: 0 0.8rem;
  position: absolute;
  top: 1.75rem;
  transition: 0.3s;
  transform: translateY(30px);
  opacity: 0;
}

.portfolio-item p {
  color: #fff;
  font-size: 1.1rem;
  margin: 0 0 0.98rem;
  padding: 0 1.25rem;
  position: absolute;
  top: 6rem;
  transition: 0.3s;
  transform: translateY(30px);
  opacity: 0;
}

.portfolio-item-thumbnail img {
  height: 220px;
  width: 100%;
  object-fit: fill;
}

.portfolio-item .more-button {
  color: #fff;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
  display: block;
  background: var(--skin-color);
  height: 2.4rem;
  width: 7.5rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 3px;
  text-align: center;
  transition: 0.3s;
  opacity: 0;
}

.portfolio-item .more-button a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  height: 100%;

  top: 10px;
}

.portfolio-item-inner:hover h3,
.portfolio-item-inner:hover p,
.portfolio-item-inner:hover span {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 767px) {
  .portfolio-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 605px) {
  .portfolio-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
