.selectLng {
  position: absolute;
  left: 21%;
  top: 20px;
  width: 90px;
  z-index: 3;
  cursor: pointer;
  border: 1px solid var(--bg-black-50) !important;
  background: var(--bg-black-100);
  color: var(--skin-color) !important;
  padding-left: 12px;
}

.selectLng__btn {
  height: 40px;
  width: 55px;
  color: var(--skin-color) !important;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: var(--bg-black-100);
  position: relative;
  display: inline-block;
}

.selectLng__btn span {
  display: inline-block;
  margin-left: 4px;
}

@media (max-width: 1199px) {
  .selectLng {
    left: 7%;
  }
}

@media (max-width: 763px) {
  .selectLng {
    left: 9%;
  }
}

@media (max-width: 579px) {
  .selectLng {
    left: 12%;
  }
}

@media (max-width: 435px) {
  .selectLng {
    left: 14%;
  }
}

@media (max-width: 365px) {
  .selectLng {
    left: 17%;
  }
}
