/* Golobal Design */
.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}
.section--active {
  z-index: 2;
  opacity: 1;
  animation: slideSection 1s ease;
}
@keyframes slideSection {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}
.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

/* App Section */
.app__container {
  padding-left: 270px;
  position: relative;
}

.app__toggleMenu {
  position: absolute;
  left: 10px;
  top: 20px;
  display: none;
  z-index: 9999;
}

.s-icontoggle {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background: var(--bg-black-100);
  right: 100%;
  border: 1px solid var(--bg-black-50);
  margin-right: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.s-icontoggle .css-i4bv87-MuiSvgIcon-root {
  color: var(--skin-color) !important;
}

.togglerMenu--open {
  left: 280px;
  z-index: 9999;
}

@media (max-width: 1199px) {
  .aside {
    left: -270px !important;
  }
  .section {
    left: 0;
  }
  .app__container {
    padding-left: 0;
  }

  .app__selectLng {
    left: 100px;
  }

  .app__toggleMenu {
    display: flex;
    z-index: 9999;
  }
}
