/* Style switcher */
.switcher {
  position: fixed;
  right: 0px;
  top: 20px;
  padding: 15px;
  width: 240px;
  border: 1px solid var(--bg-black-50);
  background: var(--bg-black-100);
  z-index: 101;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: translateX(100%);
}
.switcher h4 {
  margin: 0 0 10px;
  color: var(--text-black-700);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.switcher__styleSitcherToggler {
  top: 0;
}
.switcher__icon {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background: var(--bg-black-100);
  color: var(--skin-color) !important;
  right: 100%;
  border: 1px solid var(--bg-black-50);
  margin-right: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
}
.switcher__icon i {
  color: var(--skin-color) !important;
}
.switcher__day-night {
  top: 45px;
}
.switcher__colors {
  display: flex;
  flex-wrap: wrap;
}

.switcher__colors span {
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.switcher__color-1 {
  background: #ec1839;
}
.switcher__color-2 {
  background: #fa5b0f;
}
.switcher__color-3 {
  background: #37b182;
}
.switcher__color-4 {
  background: #1854b4;
}
.switcher__color-5 {
  background: #f021b2;
}
.switcher--open {
  transform: translateX(-25px);
}

.switcher--hide {
  display: none !important;
}
